*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
   max-width: 1440px;
   margin: auto;
}
.clearfix::after{
   content: "";
   display: table;
   clear: both;
}
.testo{
   color: lightgray;
}
header{
   min-height: 100px;
   margin-bottom: 40px;
   margin-top: 10px;
}
#logo{
   max-height: 40px;
   padding: 0 10px;
   border-right: 1px solid lightgray;
}
.topnav a {
   float: left;
   color: lightgray;
   text-align: center;
   padding: 50px 10px;
   text-decoration: none;
   font-size: 17px;
 }
 
/* main */
.banner-img{
   min-height: 500px;
   background-size:cover;
   background-repeat: no-repeat;
   margin-bottom: 40px;
   position: relative;
}
#img1{
   width: 100%;
   background-size:cover;
   background-repeat: no-repeat;
}
.bottomleft {
   max-width: 50%;
   color: white;
   position: absolute;
   bottom: 160px;
   left: 50px;
   font-size: 18px;
 }
 #big{
    font-size:50px;
 }
.container2{
   min-height: 500px;
   margin-bottom: 40px;
  background-color: blue;
   margin-bottom: 40px;
}
.title{
   padding-top:5px;
   font-size: 30px;
}
.banner-img2{
   max-height: 300px;
   max-width: 500px;
   
   
}

.cols{
   padding: 20px 0;
}
.testa2{
   min-height:100px;
   
}
.col-left, .col-right{
   background-color:lightskyblue ;
   float: left;
   width: 20%;
   min-height: 400px;
}
.col-midddle{
   background-color: lightskyblue;
   float: left;
   width: calc(60% - 20px);
   min-height: 400px;
   margin: auto 10px;
}
/* footer */
footer{
   background-color: blueviolet;
   min-height: 50px;
   margin-bottom: 10px;
}